---
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1alpha2.wgpolicyk8s.io
  namespace: kyverno
spec:
  group: wgpolicyk8s.io
  groupPriorityMinimum: 100
  insecureSkipTLSVerify: true
  service:
    name: <REPORTS_SERVICE_NAME>
    namespace: <REPORTS_SERVICE_NAMESPACE>
  version: v1alpha2
  versionPriority: 100
---
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1.reports.kyverno.io
  namespace: kyverno
spec:
  group: reports.kyverno.io
  groupPriorityMinimum: 100
  insecureSkipTLSVerify: true
  service:
    name: <REPORTS_SERVICE_NAME>
    namespace: <REPORTS_SERVICE_NAMESPACE>
  version: v1
  versionPriority: 100
