name: E2E Tests

permissions: {}

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  required:
    strategy:
      fail-fast: false
      matrix:
        k8s-version:
          - name: v1.26
            version: v1.26.13
          - name: v1.27
            version: v1.27.10
          - name: v1.28
            version: v1.28.6
          - name: v1.29
            version: v1.29.1
        tests:
          - ^reports$
    runs-on: ubuntu-latest
    name: ${{ matrix.k8s-version.name }} - ${{ matrix.tests }}
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - name: Checkout kyverno/kyverno
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          repository: kyverno/kyverno
          path: kyverno
      - name: Setup Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: ~1.21.1
      - name: Install helm
        id: helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Tools
        run: |
          set -e
          curl -LO "https://dl.k8s.io/release/${{ matrix.k8s-version.version }}/bin/linux/amd64/kubectl"
          sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
      - name: Install kind
        shell: bash
        run: |
          set -e
          # For AMD64 / x86_64
          [ $(uname -m) = x86_64 ] && curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.20.0/kind-linux-amd64
          # For ARM64
          [ $(uname -m) = aarch64 ] && curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.20.0/kind-linux-arm64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind
      - name: Create kind cluster
        run: |
          set -e
          kind create cluster --image kindest/node:${{ matrix.k8s-version.version }} --config ./.github/kind.yml
      - name: Install report server testing
        run: |
          set -e
          export HELM=${{ steps.helm.outputs.helm-path }}
          make kind-install
      - name: Wait for report server ready
        run: |
          set -e
          kubectl wait --namespace reports-server --for=condition=ready pod --selector '!job-name' --timeout=120s
      - name: Install latest kyverno
        run: |
          set -e
          kubectl create -f https://github.com/kyverno/kyverno/raw/main/config/install-latest-testing.yaml
      - name: Wait for kyverno ready
        run: |
          set -e
          kubectl wait --namespace kyverno --for=condition=ready pod --selector '!job-name' --timeout=60s
      - name: API Service status
        run: |
          set -e
          kubectl get apiservices v1alpha2.wgpolicyk8s.io v1.reports.kyverno.io
      - name: Install Chainsaw
        uses: kyverno/action-install-chainsaw@204730d723e1fd712e54e069031290ba2c1c14bd # v0.1.6
        with:
          release: v0.0.9
      - name: Test with Chainsaw
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -e
          cd ./kyverno/test/conformance/chainsaw && chainsaw test --config ./../../../../.chainsaw.yaml --include-test-regex '^chainsaw$/${{ matrix.tests }}' --no-color=false
      - name: Debug failure
        if: failure()
        uses: ./.github/actions/failure-logs
